# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Virtual environment
venv/
.env

# Media files
media/

# Static files
staticfiles/

# IDE files
.idea/
.vscode/

# Mac specific
.DS_Storex